/* Backgound color*/
body {
  color: #dddddd;
  background-color: #000000; 
  font-size: 16px;
  line-height: 16px;
  margin: 0 auto;
  padding: 1em 0 1em 0;
}

/* Cursor */
body {
  cursor: url('./media/cursor.png'), auto;
}

/* Adjust layout for smaller screens */
@media only screen and (max-width: 600px) {
    body {
        padding: 0.5em;
    }
    pre {
        font-size: 6px;
        line-height: 6px;
    }
}

/* Colorsheet */
pre { font-family:"TopazPlus", "Lucida Console", "monospace", "Monaco"; }
  a { color: #98f5ff; text-decoration: none; }
iky { color: #74ee15; }
  y { color: #ffa298; }
 or { color: #ffa600; }
 ly { color: #e5ff00; }
  w { color: #ffffff; }
 gr { color: #b5bd68; }
  r { color: #f22525; }
pnk { color: #f4b6e5; }
 bb { color: #5bd4dc; }
 lb { color: #98f5ff; }
prp { color: #7a80a2; }
  l { color: #c5c8c6; }
gry { color: #aaaaaa; }
 lg { color: #9de9a9; }
wht { color: #ffffff; }
gr1 { color: #aaaaaa; }
gr2 { color: #999999; }
gr3 { color: #666666; }
gr4 { color: #505050; }