/* Backgound color*/
body {
  color: #dddddd;
  background-color: #000000; 
  font-size: 16px;
  line-height: 16px;
  margin: 0 auto;
  padding: 1em 0 1em 0;
}

/* Cursor */
body {
  cursor: url('./media/cursor.png'), auto;
}

/* Adjust layout for smaller screens */
@media only screen and (max-width: 1000px) { /* Highest */
  body {
      padding: 0.5em;
      transition: padding 0.3s ease; /* Smooth transition for padding */
  }
  pre {
      font-size: 15px;
      line-height: 15px;
      transition: font-size 0.3s ease, line-height 0.3s ease; /* Smooth transitions for font size and line height */
  }
}

@media only screen and (max-width: 800px) {
  body {
      padding: 0.5em;
      transition: padding 0.3s ease; /* Smooth transition for padding */
  }
  pre {
      font-size: 14px;
      line-height: 14px;
      transition: font-size 0.3s ease, line-height 0.3s ease; /* Smooth transitions for font size and line height */
  }
}
@media only screen and (max-width: 700px) {
  body {
      padding: 0.5em;
  }
  pre {
      font-size: 10px;
      line-height: 10px;
  }
}
@media only screen and (max-width: 500px) {
  body {
      padding: 0.5em;
  }
  pre {
      font-size: 8px;
      line-height: 8px;
  }
}

@media only screen and (max-width: 450px) {
  body {
      padding: 0.5em;
  }
  pre {
      font-size: 7px;
      line-height: 7px;
  }
}

@media only screen and (max-width: 365px) { /* Lowest */
  body {
      padding: 0.5em;
  }
  pre {
      font-size: 7px;
      line-height: 7px;
  }
}

/* Colorsheet */
pre { font-family:"TopazPlus", "Lucida Console", "monospace", "Monaco"; }
  a { color: #98c5ff; text-decoration: none; }
iky { color: #74ee15; }
  y { color: #ffa298; }
 or { color: #ffa600; }
 ly { color: #e5ff00; }
  w { color: #ffffff; }
 gr { color: #87b44b; }
  r { color: #f22525; }
pnk { color: #f4b6e5; }
 bb { color: #5bd4dc; }
 lb { color: #98f5ff; }
prp { color: #8374c5; }
  l { color: #c5c8c6; }
 lg { color: #9de9a9; }
wht { color: #ffffff; }
gry { color: #aaaaaa; }
gr1 { color: #a5a4a4; }
gr2 { color: #999999; }
gr3 { color: #666666; }
gr4 { color: #505050; }

/* Underline */
.underline {
  text-decoration: underline;
}